# Copy to /home/doom/nextcloud/.env on the target, chmod 0600, set real values.
# These are consumed by both the Postgres/RabbitMQ containers and Nextcloud.
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_SECRET
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=REPLACE_WITH_RANDOM_SECRET
REDIS_PASSWORD=REPLACE_WITH_RANDOM_SECRET
REDIS_HOST_PASSWORD=REPLACE_WITH_RANDOM_SECRET
RABBITMQ_USER=nextcloud
RABBITMQ_PASSWORD=REPLACE_WITH_RANDOM_SECRET
NEXTCLOUD_SECRET=REPLACE_WITH_RANDOM_SECRET
TZ=UTC
